web/WEB-INF/wsdl/localhost_1581/database-layer/datalink.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://datalayer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://datalayer/" name="datalink">
<types>
<xsd:schema>
<xsd:import namespace="http://datalayer/" schemaLocation="http://localhost:1581/database-layer/datalink?xsd=1"/>
</xsd:schema>
</types>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<message name="getCusId">
<part name="parameters" element="tns:getCusId"/>
</message>
<message name="getCusIdResponse">
<part name="parameters" element="tns:getCusIdResponse"/>
</message>
<message name="viewTickets">
<part name="parameters" element="tns:viewTickets"/>
</message>
<message name="viewTicketsResponse">
<part name="parameters" element="tns:viewTicketsResponse"/>
</message>
<message name="getPassword">
<part name="parameters" element="tns:getPassword"/>
</message>
<message name="getPasswordResponse">
<part name="parameters" element="tns:getPasswordResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="getuser">
<part name="parameters" element="tns:getuser"/>
</message>
<message name="getuserResponse">
<part name="parameters" element="tns:getuserResponse"/>
</message>
<message name="getStopWords">
<part name="parameters" element="tns:getStopWords"/>
</message>
<message name="getStopWordsResponse">
<part name="parameters" element="tns:getStopWordsResponse"/>
</message>
<message name="addTicket">
<part name="parameters" element="tns:addTicket"/>
</message>
<message name="addTicketResponse">
<part name="parameters" element="tns:addTicketResponse"/>
</message>
<message name="getNewWords">
<part name="parameters" element="tns:getNewWords"/>
</message>
<message name="getNewWordsResponse">
<part name="parameters" element="tns:getNewWordsResponse"/>
</message>
<message name="getLearnWords">
<part name="parameters" element="tns:getLearnWords"/>
</message>
<message name="excludeList">
<part name="parameters" element="tns:excludeList"/>
</message>
<message name="excludeListResponse">
<part name="parameters" element="tns:excludeListResponse"/>
</message>
<portType name="datalink">
<operation name="addCustomer">
<input wsam:Action="http://datalayer/datalink/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://datalayer/datalink/addCustomerResponse" message="tns:addCustomerResponse"/>
</operation>
<operation name="getCusId">
<input wsam:Action="http://datalayer/datalink/getCusIdRequest" message="tns:getCusId"/>
<output wsam:Action="http://datalayer/datalink/getCusIdResponse" message="tns:getCusIdResponse"/>
</operation>
<operation name="viewTickets">
<input wsam:Action="http://datalayer/datalink/viewTicketsRequest" message="tns:viewTickets"/>
<output wsam:Action="http://datalayer/datalink/viewTicketsResponse" message="tns:viewTicketsResponse"/>
</operation>
<operation name="getPassword">
<input wsam:Action="http://datalayer/datalink/getPasswordRequest" message="tns:getPassword"/>
<output wsam:Action="http://datalayer/datalink/getPasswordResponse" message="tns:getPasswordResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://datalayer/datalink/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://datalayer/datalink/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="getuser">
<input wsam:Action="http://datalayer/datalink/getuserRequest" message="tns:getuser"/>
<output wsam:Action="http://datalayer/datalink/getuserResponse" message="tns:getuserResponse"/>
</operation>
<operation name="getStopWords">
<input wsam:Action="http://datalayer/datalink/getStopWordsRequest" message="tns:getStopWords"/>
<output wsam:Action="http://datalayer/datalink/getStopWordsResponse" message="tns:getStopWordsResponse"/>
</operation>
<operation name="addTicket">
<input wsam:Action="http://datalayer/datalink/addTicketRequest" message="tns:addTicket"/>
<output wsam:Action="http://datalayer/datalink/addTicketResponse" message="tns:addTicketResponse"/>
</operation>
<operation name="getNewWords">
<input wsam:Action="http://datalayer/datalink/getNewWordsRequest" message="tns:getNewWords"/>
<output wsam:Action="http://datalayer/datalink/getNewWordsResponse" message="tns:getNewWordsResponse"/>
</operation>
<operation name="getLearnWords">
<input wsam:Action="http://datalayer/datalink/getLearnWords" message="tns:getLearnWords"/>
</operation>
<operation name="excludeList">
<input wsam:Action="http://datalayer/datalink/excludeListRequest" message="tns:excludeList"/>
<output wsam:Action="http://datalayer/datalink/excludeListResponse" message="tns:excludeListResponse"/>
</operation>
</portType>
<binding name="datalinkPortBinding" type="tns:datalink">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCusId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewTickets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getuser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStopWords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNewWords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLearnWords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="excludeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="datalink">
<port name="datalinkPort" binding="tns:datalinkPortBinding">
<soap:address location="http://localhost:1581/database-layer/datalink"/>
</port>
</service>
</definitions>